@media (min-width: 413px) {
  .card-country {
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    height: 400px;
    border-radius: 5px;
  }

  .card-country-leading {
    height: 200px;
    overflow: hidden; /* Masque les parties de l'image qui débordent */
    border-radius: 5px 5px 0px 0px;
  }

  .card-country-flag {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 412px) {
  .card-country {
    padding-bottom: 20px;
    border-radius: 5px;
  }
  
  .card-country-leading {
    overflow: hidden; /* Masque les parties de l'image qui débordent */
    border-radius: 5px 5px 0px 0px;
  }

  .card-country-flag {
    width: 100%;
    object-fit: cover;
  }
}

.card-country-infos {
  font-family: 'NunitoSans';
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-country-title {
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: -10px;
}

.card-country-title > h1 {
  font-size: 24px;
  word-wrap: break-word;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-country-infos {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 300;
}

.spaced-br {
  margin-top: 5px;
  display: block;
  content: '';
}

.card-country.dark,
.card-country-infos.dark,
.card-country-title.dark {
  background-color: hsl(209, 23%, 22%);
  color: white;
}

.card-country.light,
.card-country-infos.light,
.card-country-title.light {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}

.card-country-infos.light,
.card-country-title.light {
  color: hsl(200, 15%, 8%);
}

/***********FONT FAMILIES****************/

@font-face {
  font-family: 'NunitoSans';
  src: url('..//assets/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf')
    format('truetype');
}
