.container {
  list-style-type: none;
  max-width: 85vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (min-width: 413px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .controls {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }

  .search-control {
    width: 400px;
  }

  .select-region {
    width: 115px;
  }
}

@media (max-width: 412px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }

  .controls {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .search-control {
    width: 100%;
  }

  .select-region {
    width: 60%;
  }
}

.control-country {
  height: 50px;
  margin-bottom: 2%;
  border: none;
  font-family: 'NunitoSans';
}

.search-control {
  display: flex;
  align-items: center;
}

.search-bar {
  background-color: transparent;
  font-family: 'NunitoSans';
  border: none;
  height: inherit;
  padding: 0;
  height: 100%;
  margin-left: 20px;
  border-radius: 5px;
}
.icon-search-bar {
  margin-left: 25px;
}

.select-region {
  padding: 0px 40px 0px 20px;
}

.search-bar:focus,
.select-region:focus,
.select-region > option:focus {
  outline: none;
  box-shadow: none;
}

.country-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  padding: 0;
}

.card-country-link {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.control-country.dark,
.select-region.dark {
  background-color: hsl(209, 23%, 22%);
  color: white;
}

.search-country.light,
.control-country.light,
.select-region.light {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}

.search-bar.dark::placeholder {
  color: white;
}

.search-bar.light::placeholder {
  color: hsl(200, 15%, 8%);
}

/***********FONT FAMILIES****************/

@font-face {
  font-family: 'NunitoSans';
  src: url('..//assets/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf')
    format('truetype');
}
