@media (min-width: 413px) {
  .header {
    margin-bottom: 50px;
  }
}

@media (max-width: 412px) {
  .header {
    margin-bottom: 25px;
  }
}

.header {
  font-family: 'NunitoSans';
}

.header-content {
  max-width: 85vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  font-weight: 800;
}

.header-theme-mode-button:hover {
  cursor: pointer;
}

.header-theme-mode-button {
  background-color: transparent;
  font-family: 'NunitoSans';
  font-weight: 600;
  height: 60px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.header.dark {
  background-color: hsl(209, 23%, 22%);
}

.header.light {
  background-color: hsl(0, 0%, 98%);
}

.header-title.dark,
.header-theme-mode-button.dark {
  color: white;
}

.header-title.light,
.header-theme-mode-button.light {
  color: hsl(200, 15%, 8%);
}

/***********FONT FAMILIES****************/

@font-face {
  font-family: 'NunitoSans';
  src: url('..//assets/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'NunitoSans-Italic';
  src: url('../assets/fonts/Nunito_Sans/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.ttf')
    format('truetype');
}
